<div class="container-fluid main">
    <div class="container adminlogin">
        <div class="row m-auto">
            <div class="col-sm-8 m-auto">
                <div class="shadow">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <img src="/assets/images/edit.jpg" alt="">
                                </div><br>
                                <p class="fw-bold">content here</p>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-1">
                                        <h1 class="text-center text-theme">Prices For Frames</h1>
                                    </div>
                                    <hr>
                                    <form [formGroup]="addPricesform">
                                        <div class="form-group mb-4">
                                            <label class="mb-1">Size</label>
                                            <select class="form-select" aria-label="Default select example"
                                                formControlName="sizeId">
                                                <option *ngFor="let s of sizes" [value]="s._id">{{s.size}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="mb-1">Thickness </label>
                                            <select class="form-select" aria-label="Default select example"
                                                formControlName="thicknessId">
                                                <option *ngFor="let t of thickness" [value]="t._id">{{t.thickness}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="mb-1">Price</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1"
                                                formControlName="price">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-theme"
                                                (click)="addPrice()">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
        
    </div>
</div>



           
