<div class="container-fluid main">
    <div class="container adminlogin">
        <div class="row m-auto">
            <div class="col-sm-8 m-auto">
                <div class="shadow">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <img src="/assets/images/edit.jpg" alt="">
                                </div><br>
                                <p class="fw-bold">content here</p>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-1">
                                        <h1 class="text-center text-theme">Prices For Frames</h1>
                                    </div>
                                    <hr>
                                    <form [formGroup]="addPricesform">
                                        <div class="form-group mb-4">
                                            <label class="mb-1">Size</label>
                                            <select class="form-select" aria-label="Default select example"
                                                formControlName="sizeId">
                                                <option *ngFor="let s of sizes" [value]="s._id">{{s.size}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="mb-1">Thickness </label>
                                            <select class="form-select" aria-label="Default select example"
                                                formControlName="thicknessId">
                                                <option *ngFor="let t of thickness" [value]="t._id">{{t.thickness}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="mb-1">Price</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1"
                                                formControlName="price">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-theme"
                                                (click)="addPrice()">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card p-4">
                            <h2 class="card-header text-center">View Size</h2>
                            <table class="table table-bordered p-2">
                                <thead>
                                    <tr>
                                        <th scope="col">S.no</th>
                                        <th scope="col">Sizes</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of prices; let i= index ">
                                        <td>{{i+1}}</td>
                                        <td>{{p.size}}</td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Edit
                                        </button>
                    
                                        <!-- Modal -->
                                        <div class="modal " id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
            </div>
            <!-- end col -->
            
        </div>
        <!-- Row -->
    </div>
</div>