<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="sidelinks"><hr>
      <a mat-list-item routerLink="add">ADD Frame Sizes</a><hr>
      <a mat-list-item routerLink="frame">Frames Thickness</a><hr>
      <a mat-list-item routerLink="price">Prices</a><hr>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary main">
      @if (isHandset$ | async) {
      <div class="col-sm-1">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><i class="bi bi-list">menu</i></mat-icon>
        </button>
      </div>
      }
      <span class="span">MathaOmg</span>
      <div class="text-center ">
        <button type="submit" class="btn btn-theme" (click)="logout()" >Logout</button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>