.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: red;
}
.span{
  margin: auto;
}
.main{
  color: red;
  
  background-color: rgb(212, 227, 227);
}
