<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class=" mb-2">
      <img class="logo p-2" src="/assets/images/matha main.jpg" alt="">
    </div> <mat-nav-list class="sidelinks p-2">
      <a mat-list-item routerLink="add">Size</a>      
      <a mat-list-item routerLink="frame">Thickness</a>
      <a mat-list-item routerLink="price">Price</a>
      <a mat-list-item routerLink="sales">Sales</a>
      <a mat-list-item routerLink="reports">Reports</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary main">
      @if (isHandset$ | async) {
      <div class="col-sm-1">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><i class="bi bi-list">menu</i></mat-icon>
        </button>
      </div>
      }
      <span class="span head">MathaOmg</span>
      <div class="text-center ">
        <button type="submit" class="btn btn-theme" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>