<div class="row">
    <div class="col-sm-9 m-auto">
        <div class="table-responsive mt-4 ">
            <div class="card border-0 p-4">
                <h2 class="card-header text-center">View Frames</h2>
                <table class="table table-bordered p-2">
                    <thead class="bg-dark text-white sticky-top">
                        <tr>
                            <th>S.No:</th>
                            <th>Frame Thickness</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of frames; let i= index ">
                            <td>{{i+1}}</td>
                            <td>{{b.thickness}}</td>
                            <td>
                                <a type="button" (click)="editThickness(b)"><i class="bi bi-pencil-square ms-2 fs-4"
                                        style="color: blue;"></i></a>
                                <a type="button" (click)="deleteThickness(b)"><i class="bi bi-trash3 ms-2 fs-4 "
                                        style="color: red; "></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card P-4">
                <div>
                    <h1 class="card-header text-center fw-bold">Add Thickness</h1>
                </div>
                <div class="card-body lb">
                    <form [formGroup]="ThicknessForm">
                        <div class="mb-4">
                            <label class="fw-bold">Add Frame</label>
                            <input type="text" class="form-control" formControlName="thickness">
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary btn btn-theme" *ngIf="addbtn" (click)="addThickness()">Add Frames</button>
                            <button class="btn btn-primary"  class="btn btn-theme" *ngIf="editbtn" (click)="updateThickness()">Update</button>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>