<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor="let o of orders">
                <div class="">
                    <img src="" alt="photo">
                    <p>{{o.createdAt | date}}</p>
                    <p>{{o.sizes_details[0]?.size}}</p>
                    <p>{{o.thicknes_details[0]?.thickness}}</p>
                    <p><b>{{o.quantity}}</b></p>
                    <p>{{o.price}}</p>
                    <p>{{o.img}}</p>
                    <p>{{total}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <img src="" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Customised Premium Matha's Acrylic Picture
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>