<div class="container-fluid main">
    <div class="container adminlogin">
        <div class="row m-auto">
            <div class="col-sm-8 m-auto">
                <div class="shadow">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <img src="../../../assets/images/admin.jpg" alt="" height="370">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-3">
                                    <div class="mb-1 mt-2">
                                        <h1 class="text-center text-theme">Admin Login</h1>
                                    </div>
                                    <hr>
                                    <form [formGroup]="AdminLoginForm" (ngSubmit)="adminlogin()">
                                        <div class="form-group mt-4 mb-4">
                                            <label class="mb-2">Username</label>
                                            <input type="text" class="form-control" id="exampleInputName"
                                                formControlName="username">
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="mb-2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                formControlName="password">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-sm btn-theme"
                                                [disabled]="this.AdminLoginForm.invalid">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>